*{
    margin:0;
}

body{
    background-color:hsl(212, 33%, 89%);
}

.nav1{
    height: auto;
    background-color: rgb(143, 189, 211);
}

.nav-link{
    color: rgb(3, 83, 151);
}

.nav{
    height: auto;
    background-color: rgb(138, 182, 214);
    font-size: 25px;
  
}

#home{
    background: url(../images/tech.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    
}

#home2{
    margin-right: auto;
    margin-left: 20%;
    text-align: center;
    position: absolute;
    top:50%;
    /* left:-15%; */
}

#greeting{
    color: whitesmoke;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

#name{
    color: whitesmoke;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
    font-size: 100PX;
}
#portHeading{
    color: rgb(3, 83, 151);
    font-size: 50px;
    
}

#portfolio1{
    justify-content: space-around;

}

.para-intro{
    font-family: 'Lobster', cursive;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: rgb(3, 83, 151);
}

#footer{
    padding: 20px; 
    background-color: rgb(138, 182, 214);
    color: rgb(3, 83, 151); 
    text-align: center;
    font-size: 25px;
}

@media (max-width: 427px){
    #name {
        font-size: 40px;
    }

    #portHeading{
    font-size : 30px;        
    }

    #footer{
        font-size: 15px;
        padding : 10px;
    }

    #home{
        height: 50vh;
    }
}